/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 3, 2023, 2:23:30 PM
    Author     : oklaisis
*/
body{background-image:url("../images/cipari.jpg")}
form{
    font-size:20px;
    background-colour: rgb(220,220,0);
}
